@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* background-color: #060506; */
  color: #17181a;
  font-family: 'Manrope', sans-serif;
  background-color: rgb(241 245 249/1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}